header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

.slide1, .slide2, .slide3, .slide4 {
    height:0px;
    overflow: hidden;
    margin: 0;
}

#touch1, #touch2, #touch3, #touch4 {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 0px;
    width: 0px;
}

#touch1:checked + .slide1, #touch2:checked + .slide2, #touch3:checked + .slide3, #touch4:checked + .slide4 {
    height: auto;
}

main {
    width: 80%;
    margin: auto;
}

main div {
    margin: 50px;
    position: relative;
}

main div label {
    display: block;
    padding: 10px;
    background-color: grey;
}

main ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

main ul li {
    width: 300px;
    background-color: lightgrey;
    margin: 30px 0 0 0;
    
}

main ul li a {
    display: block;
    height: 200px;
    width: 300px;
    background-color: grey;
}

main ul li p {
    text-align: center;
}
